.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.login-logo {
  width: 120px;
  margin: 20px auto;
  display: block;
}
